.dashboard{
    background-color: var(--secondarybg);
    border-radius: 5px;
}

.mindatabox{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    /* filter: blur(1px); */
}

.minidata{
    flex-basis: 24.2%;
    background-color: var(--tertiarybg);
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
}

.minicount{
    color: var(--textcolsc);
    font-size: 200%;
}


.graphsbox{
    width: 100%;
    margin-top: 1vh;
    height: 72vh;
    /* background-color: black; */
    background-color: var(--tertiarybg);
    border-radius: 5px;
    /* filter: blur(1px) ;
    backdrop-filter: 10px; */
    display: flex;
    overflow-y: auto;

}

.maingraph{

    flex-basis: 63%;
    border: 1px solid #aeb9e141;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.others{
    display: flex;
    flex-direction: column;
    flex-basis: 37%;
}
.firstminor{

    flex-basis: 50%;
    border: 1px solid #aeb9e141;
    width: 100%;
}

.usermini{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 120%;
}


.miniuser:hover{cursor: pointer;}


.lastminor{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.sched{
    background-color: rgba(0, 0, 40, 0.735);
    width: 100%;
    display: flex;
    height: 30px;
    border-radius: 50px;
    align-items: center;
}

.dashavatar{
    flex-basis: 10%;
    background-color: blue;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.schedservice{
    flex-basis: 40%;
}

.scheduser{
    flex-basis: 40%;
}

.schedbtn{
    background:none;
    outline: none;
    border: none;
    width: 50px;
}

.schedbtn:hover{
    cursor: pointer;
}