*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
}
.headername{
    
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: start;

}


.headermain{
    font-size: 150%;
    color: var(--textcolsc);
    margin: 0;
    /* padding: 0; */
}