
:root{
  --primarybg:#0A1330;
  --secondarybg:#081028 ;
  --tertiarybg:#0B1739;
  --textcolpr:#AEB9E1;
  --textcolsc:#fff
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17,1fr);
  grid-gap: 10px;
  height: 100vh;
  width: 100vw;
  background-color: var(--secondarybg);
  color: var(--textcolpr);
}



.sidebar{
  grid-column: span 2;
  grid-row: span 17;
  background-color: var(--primarybg)
}

.header{
  grid-column: span 10;
  grid-row: span 2;
  background-color: var(--primarybg)
}

.content{
  grid-column: span 10;
  grid-row: span 15;
  padding: 5px;
  overflow-y: auto;
  /* background-color: var(--tertiarybg); */
  border-radius: 5px;

}

