.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17,1fr);
  grid-gap: 10px;
  height: 100vh;
  width: 100vw;
}

.App>div{
  border: 2px solid red;
 
}

.sidebar{
  grid-column: span 2;
  grid-row: span 17;
  background-color: red;
}

.header{
  grid-column: span 10;
  grid-row: span 2;
  background-color: red;
}

